/* BACKGROUNDS */
.bg-orange {
    background-color: #FA6742;
}

.bg-cyan {
    background-color: #2BC2A7;
}

.bg-yellow {
    background-color: #FFB72F;
}

.bg-black {
    background-color: #1B1B1B;
}

.bg-light {
    background-color: #f3f3f3;
}

.bg-white {
    background-color: #fff;
}

/* COLORS */
.color-white {
    color: #fff;
}

.color-black {
    color: #1b1b1b;
}