//CONFIGURATION OF SPACING
// * PADDING
$padding-0 : true, 0;
$padding-8 : true, 0.5rem;
$padding-16 : true, 1rem;
$padding-24 : true, 1.5rem;
$padding-32 : true, 2rem;
$padding-64 : true, 4rem;
$padding-96 : true, 6rem;
// * PADDING-Y
$paddingY-16 : true, 1rem 0;
$paddingY-32 : true, 2rem 0;
$paddingY-64 : true, 4rem 0;
$paddingY-96 : true, 6rem 0;
// * PADDING-X
$paddingX-16 : true, 0 1rem;
$paddingX-32 : true, 0 2rem;
$paddingX-64 : true, 0 4rem;
$paddingX-96 : true, 0 6rem;
// * MARGIN
$margin-0 : true, 0;
// * MARGIN BOTTON
$marginB-8 : true, 0 0 0.5rem 0;
$marginB-16 : true, 0 0 1rem 0;
$marginB-24 : true, 0 0 1.5rem 0;
$marginB-32 : true, 0 0 2rem 0;
$marginB-64 : true, 0 0 4rem 0;





