// * CONFIGURATION OF TYPOGRAPHY

// * HEADINGS
$heading-1 : (
    "used" : true,
    "margin" : 0 0 1rem 0,
    "family" : none,
    "size" : 3.125rem, 
    "weight" : 700,
    "spacing" : none,
    "leading" : none,
    "color" : #1b1b1b,
);
$heading-2 : (
    "used" : true,
    "margin" : 0 0 1rem 0,
    "family" : none,
    "size" : 1.625rem,
    "weight" : 700,
    "spacing" : none,
    "leading" : none,
    "color" : #fa6742,
);
$heading-3 : (
    "used" : true,
    "margin" : 0 0 1rem 0,
    "family" : none,
    "size" : 1.125rem,
    "weight" : 700,
    "spacing" : none,
    "leading" : none,
    "color" : #1b1b1b,
);
$heading-4 : (
    "used" : true,
    "margin" : 0 0 1rem 0,
    "family" : none,
    "size" : 0.75rem,
    "weight" : none,
    "spacing" : none,
    "leading" : none,
    "color" : #999999,
);
$heading-5 : (
    "used" : true,
    "margin" : 1rem 0,
    "family" : none,
    "size" : 1rem,
    "weight" : none,
    "spacing" : none,
    "leading" : none,
    "color" : #fff,
);
$heading-6 : (
    "used" : true,
    "margin" : 0 0 1rem 0,
    "family" : none,
    "size" : 11px,
    "weight" : none,
    "spacing" : none,
    "leading" : none,
    "color" : #999999,
);

// * PARAGRAPHS
$paragraph-1 : (
    "used" : true,
    "margin" : 0.5rem 0 1.5rem 0,
    "family" : none,
    "size" : 0.875rem, 
    "weight" : none,
    "spacing" : none,
    "leading" : 1.5rem,
    "color" : #fff,
);
$paragraph-2 : (
    "used" : true,
    "margin" : 0.5rem 0,
    "family" : none,
    "size" : 0.875rem,
    "weight" : 500,
    "spacing" : none,
    "leading" : 1.5rem,
    "color" : #999999,
);
$paragraph-3 : (
    "used" : true,
    "margin" : 0.5rem 0 1rem 0,
    "family" : none,
    "size" : 0.875rem,
    "weight" : 500,
    "spacing" : none,
    "leading" : 1.5rem,
    "color" : #999999,
);
$paragraph-4 : (
    "used" : false,
    "margin" : 0.5rem 0 1.5rem 0,
    "family" : none,
    "size" : none,
    "weight" : none,
    "spacing" : none,
    "leading" : none,
    "color" : #AAAAAA,
);
$paragraph-5 : (
    "used" : false,
    "margin" : 0.5rem 0 1.5rem 0,
    "family" : none,
    "size" : none,
    "weight" : none,
    "spacing" : none,
    "leading" : none,
    "color" : #AAAAAA,
);
$paragraph-6 : (
    "used" : false,
    "margin" : 0.5rem 0 1.5rem 0,
    "family" : none,
    "size" : none,
    "weight" : none,
    "spacing" : none,
    "leading" : none,
    "color" : #AAAAAA,
);






